#root {
    max-width: 1600px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

/* Hide native scrollbars but allow wheel scrolling */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}
.no-scrollbar::-webkit-scrollbar { /* Chrome, Safari */
  display: none;
}